---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import PocketBase from "pocketbase";
const url = import.meta.env.POCKETBASE_URL;
const pb = new PocketBase(url);

const recordList = await pb.collection("articles").getFullList(200, {
    expand: 'type',
});
---

<Layout title="Articles | Knowledge Base">
    <div class="mt-3 px-3 flex flex-row gap-3 text-sm justify-center underline">
        <a href="/">Home</a> |
        <a href="/technologies">Technologies</a> |
        <a href="/aitools">AI Tools</a> |
        <a href="/learn">Learn</a>
    </div>
    <div class=" grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3 mt-3 mb-3 px-3">
        { recordList.map(record => <a href={`/articles/${record["id"]}`}><Card data={record} /></a>) }
    </div>
</Layout>
