---
import Layout from "../../layouts/Layout.astro";
import ArrowLeft from 'astro-heroicons/solid/ArrowSmallLeft.astro';
import { getPocketBase } from "../../utils/pocketbase";
const pb = getPocketBase();

const { id } = Astro.params;

const tool = await pb.collection('ai_tools').getOne(id || '1', {
    expand: 'type',
});
---
<Layout title={tool["title"] + '| KnowledegeBase'} >
    <div class="w-full h-screen flex flex-col justify-center items-center px-3">
        <div class="border-2 border-black rounded-lg p-4 flex flex-col gap-2 w-11/12 md:w-1/2">
            <div class="flex flex-row w-full justify-start items-center gap-3">
                <a href="/aitools"><ArrowLeft class="w-6" /></a>
                <h1 class="text-center text-2xl font-semibold">{tool["name"]}</h1>
            </div>
            <p class="whitespace-pre-line">{tool["description"]}</p>
            <a href={tool['url']} target="_blank" class="underline">Go to {tool['url']}</a>
        </div>
    </div>
</Layout>