---
const { data } = Astro.props;
---

<div class="w-full border-2 rounded-lg p-3 border-black h-full hover:bg-yellow-600 active:scale-75">
  {data["title"] && <h2 class="text-xl font-bold">{data["title"]}</h2>}
  {data["name"] && <h2 class="text-xl font-bold">{data["name"]}</h2>}
  {data["description"] && <p>{data["description"].slice(0, 100) + "..."}</p>}
  {data["excrept"] && <p>{data["excrept"].slice(0, 50) + "..."}</p>}
  {
    data["expand"] && data["expand"]["type"] && (
      <div class="flex flex-row gap-2 mt-3">
        {data["expand"]["type"].map((type: any) => (
          <div class="text-sm rounded-lg border-2 border-black w-fit p-1">
            {type["name"]}
          </div>
        ))}
      </div>
    )
  }
</div>
