<footer
  class="bg-transparent fixed bottom-0 w-full"
>
  <div class="w-full flex flex-row justify-center">Build with ❤️ by <a href="" class="ml-1 underline text-blue-900">Ratnadeep Bhattacharyya</a></div>
</footer>
