<footer
  class="bg-transparent fixed bottom-0 w-full"
>
  <div class="w-full flex flex-row justify-center">Build with ❤️ by <a href="https://github.com/ratnadeep007" class="ml-1 underline text-blue-900" target="_blank">Ratnadeep Bhattacharyya</a></div>
</footer>
